<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="filtroProductos" aria-labelledby="filtroProductosLabel">

  <!-- Titulo y boton de cerrar -->
  <div class="offcanvas-header">
    <h5 class="offcanvas-title"><b>Filtros</b></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <!-- Filtros normales -->
    <h5><b>Ordenar</b></h5>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Ranking📈
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Alfabeticamente🅰
      </label>
    </div>

    <!-- Filtros por categoria -->
    <br>
    <h5><b>Categorias </b><button class="btn btn-dark bg-gradient border-dark p-1" type="button" data-bs-toggle="modal" data-bs-target="#crearCategoria">Categoria➕</button></h5>

    <!-- Aqui se agregan las categorias -->
    <div class="form-check d-flex flex-column d-grid gap-2">
      <app-categoria *ngFor="let categoriai of categorias" [categoria]="categoriai"></app-categoria>
    </div>

  </div>
</div>

<app-crear-categoria (crearCategoria)="crearCategoria($event)"></app-crear-categoria>
<app-editar-categoria></app-editar-categoria>