<div class="offcanvas offcanvas-start "  data-bs-scroll="true" tabindex="-1" id="filtroProductos" aria-labelledby="filtroProductosLabel" >

  <!-- Titulo y boton de cerrar -->
  <div class="offcanvas-header">
    <h5 class="offcanvas-title"><b>Filtros</b></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <!-- Filtros normales -->
    <h5><b>Ordenar</b></h5>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="rank" #ranking (click)="filtroActual(ranking.value)">
      <label class="form-check-label" for="flexRadioDefault1">
        Ranking📈
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="alfa" #alfabetico (click)="filtroActual(alfabetico.value)" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Alfabéticamente🅰
      </label>
    </div>

    <!-- Filtros por categoria -->
    <br>
    <div style="width: 20rem;display: flex;margin-bottom: 1rem;">
        <h5 style="width: 8rem;text-align: center;">
            <b>Categorías </b> 
        </h5>
        <button style="margin-left: 3rem;" *ngIf="tipo" class="btn btn-dark bg-gradient border-dark p-1" type="button" (click)="abrirModalCrearCategoria()">Categoría➕</button>
    </div>
    <!-- Aqui se agregan las categorias -->
    <div id="listadoCategorias" class="form-check d-flex flex-column d-grid gap-2">
      <span  *ngFor="let categoriai of categorias">
        <input class="form-check-input mt-2" type="checkbox" value="" checked>
        <label class="form-check-label" for="flexCheckChecked" style="font-size: 1.2rem;width: 9rem;margin-left: 1rem;">{{categoriai.categoria}}</label>
          <button *ngIf="tipo" class="btn btn-dark bg-gradient border-dark p-1 me-2" type="button" (click)="abrirModalEditarCategoria(categoriai)">📝</button>
          <button *ngIf="tipo" class="btn btn-dark bg-gradient border-dark p-1" type="button" (click)="eliminar(categoriai)">❌</button>
        
      </span>
    </div>
</div>
