<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
         <!-- hamburguesa lo puse primero para que se mantenga en la izquierda, data-bs-target comandar a que se debe colapsar-->
        <button (click)="ajustePantalla()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#opciones"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- EL NAVBAR NO SE MUEVE -->
        <a class="navbar-brand" [routerLink]="['/inicio']" >
            <img src="../../../assets/Sharky.png" alt="" width="35" height="34">
            Mini Sharket
        </a>

        <div *ngIf="bandera">
            <a href="#" class="nav-link active" data-bs-toggle="offcanvas" data-bs-target="#infoUsuario" aria-controls="infoUsuario">
                <img src="../../../assets/Sharky.png" class="rounded-circle border border-3 border-dark" style="width:35px;height:35px;">
            </a>
        </div>
        <!--el div con id opciones es para que el boton hamburguesa reconozca lo que debe colapsar-->
        <div class="collapse navbar-collapse" id="opciones">
            <div class="navbar-nav mb-1" id="navbar">

                <!--boton de Inicio-->
                <div class="nav-item btn-dark ms-4 mt-1 border-dark bg-gradient">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/inicio']">Inicio</a>
                </div>

                <!--boton de Productos-->
                <div *ngIf="sesion" class="nav-item btn-dark ms-4 mt-1 border-dark bg-gradient">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/productos']">Productos</a>
                </div>

                <!--boton de Proveedores-->
                <div *ngIf="sesion" class="nav-item btn-dark ms-4 mt-1 border-dark bg-gradient">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/proveedores']">Proveedores</a>
                </div>

                <!--boton de Finanzas-->
                <div *ngIf="sesion" class="nav-item btn-dark ms-4 mt-1 border-dark bg-gradient">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/finanzas']">Finanzas</a>
                </div>

                <!--boton de Ingreso-->
                <div *ngIf="!sesion" class="nav-item btn-dark ms-4 mt-1 border-dark bg-gradient">
                    <a class="nav-link active" [routerLink]="['/ingreso']">Ingresar</a>
                </div>

                <!--boton de Registro-->
                <div *ngIf="!sesion" class="nav-item btn-dark ms-4 mt-1 border-dark bg-gradient">
                    <a class="nav-link active" [routerLink]="['/registro']">Registrarse</a>
                </div>
            </div>
        </div>
        <div *ngIf="!bandera">
            <a href="#" class="nav-link active" data-bs-toggle="offcanvas" data-bs-target="#infoUsuario" aria-controls="infoUsuario">
                <img src="../../../assets/Sharky.png" class="rounded-circle border border-3 border-dark" style="width:35px;height:35px;">
            </a>
        </div>
    </div>
</nav>

<app-info-usuario></app-info-usuario>