<!-- Button trigger modal -->
<!-- data-bs-toggle="modal" data-bs-target="#revisarCredencial" -->
  
  <!-- Modal -->
<div class="modal fade" id="revisarCredencial" tabindex="-1" aria-labelledby="revisarCredencialLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-danger text-white">

        <div class="modal-header">
          <h5 class="modal-title" id="revisarCredencialLabel"><b>Verificar usuario🔎</b></h5>
        </div>

        <div class="modal-body">
          <input id="clave" type="password" class="form-control">
          <label for="clave" class="form-label">Contraseña actual</label>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary bg-gradient border border-dark" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger bg-secondary bg-gradient border border-dark">Revisar</button>
        </div>

      </div>
    </div>
</div>