<li class="list-group-item ">
    <span class="" style="width: 9rem;padding-right: 1%;">Nombre producto</span>
    <button type="button" (click)="restar()"class="btn btn-dark bg-gradient border-dark rounded-circle p-1">➖</button>
    <input type="text" (change)="cambiarCantidad(cantidadPro.value)" style="width: 2rem;" value="{{cantidadProducto}}" #cantidadPro>
    <button type="button" (click)="sumar()" class="btn btn-dark bg-gradient border-dark rounded-circle p-1">➕</button>
    <button type="button" class="btn btn-dark bg-gradient border-dark rounded-circle p-1 ms-1">❌</button>
</li>
