<!-- Botonera de gastos -->
<div class="mt-2 ms-5">
    <button class="btn btn-dark bg-gradient border-dark me-1 ms-5" type="button">Gasto➕</button>
</div>
<div class="ms-5">
    <table class="table ms-5 mt-3 w-auto">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Insumos</th>
                <th scope="col">Monto</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="border-primary">
            <tr>
                <td>24 dic 2022</td>
                <td>Pan bimbo</td>
                <td>$5000</td>
                <td><button class="btn btn-dark bg-gradient border-dark p-1" type="button">❌</button></td>
            </tr>
        </tbody>
    </table>
</div>