<div id="registrar" class="card bg-primary text-white" style="width: 25rem;margin:4% 35%;">
    <div class="card-body">
        <h5 class="Ingresar text-center">Registrarse</h5>
        <!-- imput de Usuario -->
        <div>
            <label><p class="card-text">Usuario</p></label>
            <input (change)="revisar()" [(ngModel)]="usuario" type="text" class="form-control">
        </div>

        <!-- imput de contraseña -->
        <div>
            <label><p class="card-text">Clave</p></label>
            <input (change)="revisar()" [(ngModel)]="clave1" type="password" class="form-control">
        </div>

        <div>
            <label><p class="card-text">Repetir clave</p></label>
            <input (change)="revisar()" [(ngModel)]="clave2" type="password" class="form-control">
        </div>

        <div>
            <label><p class="card-text">Icono</p></label>
            <input [(ngModel)]="img" (change)="captureFile($event)" id="imagenP" class="form-control" type="file" accept=".jpg, .png, .jpeg">
            <img *ngIf="img != ''" src="{{img}}" class="w-25 h-25 rounded mx-auto d-block mt-2">
        </div>

        <div>
            <label><p class="card-text">Tipo de cuenta</p></label>
            <br>
            <div class="form-check form-check-inline">
                <input (input)="cambioTipo('Minimarket')" class="form-check-input" type="radio" name="flexRadioDefault" id="minimarket" checked>
                <label class="form-check-label" for="minimarket">Minimarket</label>
            </div>
            <div class="form-check form-check-inline">
                <input (input)="cambioTipo('Vendedor')" class="form-check-input" type="radio" name="flexRadioDefault" id="vendedor">
                <label class="form-check-label" for="vendedor">Vendedor</label>
            </div>
        </div>

        <div *ngIf="tipo=='Vendedor'">
            <label><p class="card-text">Minimarket a vincular</p></label>
            <input (change)="revisar()" [(ngModel)]="minimarket" type="text" class="form-control">
            <label><p class="card-text">Codigo</p></label>
            <input (change)="revisar()" [(ngModel)]="codigo" type="password" class="form-control">
        </div>

        <!-- Boton de aceptar -->
        <div class="text-center mt-3">
            <button (click)="sesion()" [disabled]="!bandera" type="button" class="btn btn-dark bg-gradient">Registrarse</button>
        </div>
    </div>
</div>