<div id="registrar" class="card bg-primary text-white" style="width: 25rem;margin:4% 35%;">
    <div class="card-body">
        <h5 class="Ingresar text-center">Registrarse</h5>
        <!-- imput de Usuario -->
        <div>
            <label><p class="card-text">Usuario</p></label>
            <input [(ngModel)]="usuario" type="text" class="form-control" placeholder="ej: UsuarioCognito">
        </div>

        <!-- imput de contraseña -->
        <div>
            <label><p class="card-text">Clave</p></label>
            <input [(ngModel)]="clave1" type="password" class="form-control" placeholder="ej: *123PassworD456*">
        </div>

        <div>
            <label><p class="card-text">Repetir clave</p></label>
            <input [(ngModel)]="clave2" type="password" class="form-control" placeholder="ej: *123PassworD456*">
        </div>

        <div>
            <label><p class="card-text">Icono</p></label>
            <input class="form-control" type="file" accept=".jpg, .png, .jpeg">
        </div>

        <!-- Boton de aceptar -->
        <div class="text-center">
            <button type="button" class="btn btn-dark bg-gradient">Registrarse</button>
        </div>
    </div>
</div>