<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="carritoVenta" aria-labelledby="carritoVentaLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title"><b>Carrito de venta</b></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body text-center">
        <h5><b>Monto total: </b>$1000</h5>
        <div>

        </div>
        <button type="button" class="btn btn-success bg-gradient border-dark mt-2">Realizar venta💸</button>
    </div>
</div>