#contenedorVendedores
    width: 23rem
    border: solid 5px
    margin:auto
    margin-top: 5%
    height: 18rem
    overflow: auto
    display: flex
    flex-wrap: wrap
    div
        width:9rem
        margin: auto
        height: 16rem
        img
            padding-top: 5%
            width: 7.5rem
            margin: auto
            height: 8.5rem
        button
            border: black solid 0.05rem
            background-color: rgb(221, 49,12)
            color: white
            width: 6rem
            margin: auto
            height: 3rem
            margin-bottom: 1rem

#imagenUsuario
    width:150px
    height:150px
    margin-bottom: 1rem

.buttonIng
    width: 10rem
    height: 3rem
    padding: 0

    