<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="infoUsuario" aria-labelledby="infoUsuarioLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title"><b>Nombre usuario</b></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body text-center">
    <img src="../../../assets/Sharky.png" class="rounded-circle border border-3 border-dark" style="width:150px;height:150px;">
    <br>
    <button type="button" class="btn btn-primary bg-gradient border-dark" data-bs-toggle="modal" data-bs-target="#editarUsuario">Editar usuario📝</button>
    <br>
    <button type="button" class="btn btn-danger bg-gradient border-dark mt-2" data-bs-toggle="modal" data-bs-target="#revisarCredencial">Eliminar usuario❌</button>
    <br>
    <button (click)="cerrar()" type="button" class="btn btn-secondary bg-gradient border-dark mt-2">Cerrar sesión🖐</button>
  </div>
</div>

<app-revisar-credencial></app-revisar-credencial>
<app-editar-usuario></app-editar-usuario>