<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="infoUsuario" aria-labelledby="infoUsuarioLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title"><b>{{user.nombre}}</b></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body text-center">
    <img src="http://127.0.0.1:8000{{user.icono}}" class="rounded-circle border border-3 border-dark" style="width:150px;height:150px; margin-bottom: 1rem;">
    <br>
    <p *ngIf="user.tipo=='1'"><b>Tipo de cuenta:</b> Minimarket</p>
    <p *ngIf="user.tipo=='2'"><b>Tipo de cuenta:</b> Vendedor</p>
    <p *ngIf="user.tipo=='1'"><b>Codigo de cuenta:</b> {{user.codigo}}</p>

    <!-- ALERT  -->
    <div *ngIf="banderaAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>No se ha podido eliminar</strong> Permiso denegado
      <button (click)="banderaAlert=false" type="button" class="btn-close"></button>
    </div>

    <button type="button" class="btn btn-primary bg-gradient border-dark" (click)="abrirModalCrearCategoria()">Editar usuario📝</button>
    <br>
    <button type="button" class="btn btn-danger bg-gradient border-dark mt-2" data-bs-toggle="modal" data-bs-target="#revisarCredencial" (click)="eliminarCuenta()">Eliminar usuario❌</button>
    <br>
    <button (click)="cerrar()" type="button" class="btn btn-secondary bg-gradient border-dark mt-2" data-bs-dismiss="offcanvas" aria-label="Close">Cerrar sesión🖐</button>
    <br><br>
    <h4 *ngIf="trabajadores.length!=0"><b>Vendedores:</b></h4>
    <div style="width: 20.7rem ;border: solid 5px;margin:auto;margin-top: 5%; height: 35rem; overflow: auto;display:flex;flex-wrap: wrap;">
        <div *ngFor="let trabajador of trabajadores" class="card border border-dark " style="width:9rem;margin:0.5rem;height: 16rem;">
          <img src="http://127.0.0.1:8000{{trabajador.icono}}" class="card-img-top mb-3 "  style="width: 7.5rem; margin: auto;height: 8.5rem;" > 
          <p class="card-text ">{{trabajador.nombre}}</p>
          <button style="border: solid 1px;width:6rem; margin: auto; height: 3rem ;margin-bottom: 1rem;" type="button" (click)="desvincular(trabajador)" data-bs-toggle="modal" data-bs-target="#revisarCredencial">Desvincular</button>
        </div>

    </div>
  </div>
  
</div>
<app-revisar-credencial (validar)="eliminar($event)"></app-revisar-credencial>