<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="infoUsuario" aria-labelledby="infoUsuarioLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title"><b>{{user.nombre}}</b></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body text-center">
    <img id="imagenUsuario" src="http://127.0.0.1:8000{{user.icono}}" class="rounded-circle border border-3 border-dark">
    <br>
    <p *ngIf="user.tipo=='1'"><b>Tipo de cuenta:</b> Minimarket</p>
    <p *ngIf="user.tipo=='2'"><b>Tipo de cuenta:</b> Vendedor</p>
    <p *ngIf="user.tipo=='1'"><b>Codigo de cuenta:</b> {{user.codigo}}</p>

    <!-- ALERT  -->
    <div *ngIf="banderaAlert" class="alert alert-warning alert-dismissible fade show alert-danger bg-gradient" role="alert">
      <strong >Permiso denegado: </strong>No se ha podido eliminar
      <button (click)="banderaAlert=false" type="button" class="btn-close"></button>
    </div>

    <button type="button" class="btn btn-primary bg-gradient border-dark" (click)="abrirModalCrearCategoria()">Editar usuario📝</button>
    <br>
    <button type="button" class="btn btn-danger bg-gradient border-dark mt-2" data-bs-toggle="modal" data-bs-target="#revisarCredencial" (click)="eliminarCuenta()">Eliminar usuario❌</button>
    <br>
    <button (click)="cerrar()" type="button" class="btn btn-secondary bg-gradient border-dark mt-2" data-bs-dismiss="offcanvas" aria-label="Close">Cerrar sesión🖐</button>
    <br><br>
    <h4 *ngIf="trabajadores.length!=0"><b>Vendedores:</b></h4>

    <div id="contenedorVendedores">
        <div *ngFor="let trabajador of trabajadores" class="card border border-dark ">
          <img src="http://127.0.0.1:8000{{trabajador.icono}}" class="card-img-top mb-3 "> 
          <p class="card-text ">{{trabajador.nombre}}</p>
          <button type="button" (click)="desvincular(trabajador)" data-bs-toggle="modal" data-bs-target="#revisarCredencial">Desvincular</button>
        </div>

    </div>

  </div>
  
</div>
<app-revisar-credencial (validar)="eliminar($event)"></app-revisar-credencial>