<!-- Modal -->
    <div class="bg-primary text-white">
  
      <div class="modal-header">
        <h5 class="modal-title" id="crearProveedorLabel"><b>Editar proveedor 🛍</b></h5>
      </div>
  
      <div class="modal-body">
        <!-- Nombre proveedor -->
        <label for="nombre" class="form-label">Nombre(*)</label>
        <input id="nombre" type="text" class="form-control" value="{{proveedorActual.nombre}}" #nombre>

        <!-- Email proveedor -->
        <div>
          <label for="email" class="form-label">E-mail(*)</label>
            
          <!--boton de agregar un email-->
          <div class="divAgregar">
            <input id="email" type="text" class="form-control" #correo [(ngModel)]="vacioEmail">
            <button type="button" class="botonAgregar btn btn-dark bg-gradient border border-dark ms-3" (click)="agregarEmail(correo.value)">Agregar</button>
          </div>

          <!--Listado de emails-->
          <div class="eliminarEtiqueta">
            <div *ngFor="let proveedorEmail of proveedorActual.email">
              <p>{{proveedorEmail}}</p>
              <button type="button" (click)="eliminarEmail(proveedorEmail)" class="btn btn-dark bg-gradient border border-dark p-1">❌</button>
            </div>
          </div>
            
        </div>

        <!-- Numero de contacto proveedor -->
        <div>
          <label for="numero" class="form-label">Número de contacto(*)</label>

          <!--boton de agregar numero de contacto-->
          <div class="divAgregar">
            <input id="numero" type="text" class="form-control" #num [(ngModel)]="vacionumero">
            <button type="button" class="botonAgregar btn btn-dark bg-gradient border border-dark ms-3" (click)="agregarNumero(num.value)">Agregar</button>
          </div>

          <!--Listado de numeros de contacto-->
          <div class="eliminarEtiqueta">
            <div *ngFor="let proveedorNumero of proveedorActual.numero ">
              <p>{{proveedorNumero}}</p>
              <button type="button" (click)="eliminarNumero(proveedorNumero)" class="btn btn-dark bg-gradient border border-dark p-1">❌</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary bg-gradient border border-dark" data-bs-dismiss="modal" (click)="limpiarVariablesLocales()">Cancelar</button>
        <button type="button" class="btn btn-dark bg-gradient border border-dark" data-bs-dismiss="modal" (click)="editarProveedor(nombre.value)">Editar</button>
      </div>
  
    </div>
