<div class="card bg-primary border-dark m-2" style="width: 15rem;">
    <div class="mt-1">
        <button (click)="editarProducto()" class="btn btn-dark bg-gradient border-dark me-1 p-1" type="button" data-bs-toggle="modal" data-bs-target="#editarProducto">📝</button>
        <button (click)="eliminar()" class="btn btn-dark bg-gradient border-dark  p-1" data-bs-toggle="modal" data-bs-target="#advertencia" type="button">❌</button>
    </div>

    <h5 class="mt-2 mb-0 text-white text-center"><b>{{producto.nombre}}</b></h5>
    <img *ngIf="producto.img == ''" height="250px" src="../../../assets/producto.png" class="card-img-top">
    <img *ngIf="producto.img != ''" height="250px" src="{{producto.img}}" class="card-img-top">

    <div class="card-body">
        <p class="m-0 text-white"><b>Stock: </b>{{producto.stock}} {{producto.unidad}}</p>
        <p class="m-0 text-white">${{producto.precio}} x {{producto.unidad}}</p>
    </div>
    <div>
        <button [disabled]="producto.banderaCarrito" (click)="agregar()" class="btn btn-dark bg-gradient border-dark mb-1" type="button">Agregar</button>
    </div>
</div>

<app-advertencia></app-advertencia>
