<div class="card bg-primary border-dark m-2" style="width: 15rem;">
    <div class="mt-2 me-2">
        <button class="btn btn-dark bg-gradient border-dark float-end p-1" type="button">❌</button>
        <button class="btn btn-dark bg-gradient border-dark float-end me-1 p-1" type="button">📝</button>
    </div>
    <img width="40px" height="130px" src="../../../assets/Sharky.png" class="card-img-top">
    <div class="card-body">
        <p class="m-0 text-white">Nombre</p>
        <p class="m-0 text-white">stock: STOCK</p>
        <p class="m-0 text-white">$ precio</p>
    </div>
    <div>
        <button class="btn btn-dark bg-gradient border-dark mb-1" type="button">Agregar</button>
    </div>
</div>
