<div class="card bg-primary border-dark m-2" style="width: 15rem;">
    <img width="40px" height="130px" src="../../../assets/Sharky.png" class="card-img-top">
    <div class="card-body">
        <p class="m-0 text-white">Nombre</p>
        <p class="m-0 text-white">stock: STOCK</p>
        <p class="m-0 text-white">$ precio</p>
    </div>
    <div>
        <button id="botonPublicar" type="button" class="btn btn-dark bg-gradient border-dark mb-1" data-bs-dismiss="modal">Agregar</button>
    </div>
</div>
