<!-- Button trigger modal -->
<!-- data-bs-toggle="modal" data-bs-target="#advertencia" -->

<!-- Modal -->
<div class="modal fade" id="advertencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="advertenciaLabel" aria-hidden="true">
    <div class="modal-dialog">
        
        <div class="modal-content bg-danger text-white">

            <div class="modal-header">
                <h5 class="modal-title" id="advertenciaLabel"><b>ADVERTENCIA: ¿Desea borrar el contenido?</b></h5>
            </div>

            <div class="modal-body">
                Borrar contenido de la aplicación es permanente
            </div>

            <div class="modal-footer">
                <button (click)="revisarRespuesta(false)" type="button" class="btn btn-secondary bg-gradient" data-bs-dismiss="modal">Cancelar</button>
                <button (click)="revisarRespuesta(true)" type="button" class="btn btn-secondary bg-gradient" data-bs-dismiss="modal">Aceptar</button>
            </div>

        </div>
    </div>
</div>