<!-- Boton de filtros -->
<button class="btn btn-dark bg-gradient border-dark rounded-circle p-2 position-fixed top-50 start-0 ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#filtroProductos" aria-controls="filtroProductos">
⚙
</button>

<!-- Boton de compra -->
<button type="button" class="btn btn-dark bg-gradient rounded-circle p-2 position-fixed top-50 end-0 me-3" data-bs-toggle="offcanvas" data-bs-target="#carritoVenta" aria-controls="carritoVenta">
    🛒
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      {{cant}}
    </span>
</button>

<div class="ms-4">
    <!-- Botonera de productos -->
    <div class="mt-2 ms-4">
        <button class="btn btn-dark bg-gradient border-dark me-1 ms-2" type="button" data-bs-toggle="modal" data-bs-target="#crearProducto">Producto➕</button>
        <button class="btn btn-dark bg-gradient border-dark me-1" type="button">Exportar QR📱</button>
    </div>

    <!-- Tarjetas de productos -->
    <div class="d-flex flex-wrap mt-3 ms-4">
        <app-tarjeta-producto (agregarCarrito)="agregarCarrito($event)" (eliminarProducto)="eliminarProducto($event)" *ngFor="let producto of productos" [producto]="producto"></app-tarjeta-producto>
    </div>    
</div>

<!-- Offcanvas -->
<app-filtro-productos></app-filtro-productos>
<app-carrito-venta (menosProducto)="quitarCarrito()" [carrito]="carrito"></app-carrito-venta>
<app-crear-producto (crearProducto)="crearProducto($event)"></app-crear-producto>
<app-editar-producto></app-editar-producto>