  <div>
        <button (click)="abrirModalAgregarGasto()">Agregar Gasto+</button>
  </div>
  <div class="m-3 table-responsive">
        <table class="table table-bordered border-dark text-center">
            <thead id="cabezalTabla">
                <tr class="table-dark border-dark">
                    <th class="col-2">Fecha</th>
                    <th class="col-1">Venta/Gasto</th>
                    <th class="col-5">Lista</th>
                    <th class="col-2">Total</th>
                    <th class="col-2">Botones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registro of registros" [ngClass]="{'table-success': registro.tipo=='Venta'}" [ngClass]="{'table-danger': registro.tipo=='Gasto'}" class="border-dark">
                    <td class="cuerpoTabla">{{registro.fecha}}</td>
                    <td *ngIf="registro.tipo=='Venta'" class="cuerpoTabla">Venta</td>
                    <td *ngIf="registro.tipo=='Gasto'" class="cuerpoTabla">Gasto/td>
                    <td class="cuerpoTabla">
                        <ul>
                            <li *ngFor="let producto of registro.lista">{{producto.cantidad}} x {{producto.nombre}} ${{producto.precio}} c/{{producto.unidad}}</li>
                        </ul>
                    </td>
                    <td class="cuerpoTabla">${{calcularTotal(registro.lista)}}</td>
                    <td class="cuerpoTabla">
                        <button class="btn btn-dark bg-gradient border-dark me-1 p-1" type="button">📝</button>
                        <button class="btn btn-dark bg-gradient border-dark  p-1" type="button">❌</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>