<div class="m-3 table-responsive">
    <table class="table table-bordered border-dark text-center">
        <thead>
            <tr class="table-dark border-dark">
                <th class="col-2">Fecha</th>
                <th class="col-1">Venta/Gasto</th>
                <th class="col-5">Lista</th>
                <th class="col-2">Total</th>
                <th class="col-2">Botones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-success border-dark">
                <td>DD-MM-AAAA</td>
                <td>Venta</td>
                <td><ul>
                    <li>STOCK x PRODUCTO $PRECIO c/u</li>
                    <li>STOCK x PRODUCTO $PRECIO c/u</li>
                </ul></td>
                <td>$TOTAL</td>
                <td>
                    <button class="btn btn-dark bg-gradient border-dark me-1 p-1" type="button">📝</button>
                    <button class="btn btn-dark bg-gradient border-dark  p-1" type="button">❌</button>
                </td>
            </tr>
            <tr class="table-danger border-dark">
                <td>DD-MM-AAAA</td>
                <td>Gasto</td>
                <td><ul>
                    <li>STOCK x PRODUCTO $PRECIO c/u</li>
                    <li>STOCK x PRODUCTO $PRECIO c/u</li>
                </ul></td>
                <td>$TOTAL</td>
                <td>
                    <button class="btn btn-dark bg-gradient border-dark me-1 p-1" type="button">📝</button>
                    <button class="btn btn-dark bg-gradient border-dark  p-1" type="button">❌</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>