  <div class="mt-2 ms-5">
        <button *ngIf="tipoX" (click)="abrirModalAgregarGasto()"  class="btn btn-dark bg-gradient border-dark me-1 ms-3" type="button">Agregar Gasto+</button>
  </div>
  <div class="table-responsive" style="max-height: 40rem;margin: 0 2rem;margin-top: 2rem;">
        <table class="table table-bordered border-dark text-center" >
            <thead id="cabezalTabla">
                <tr class="table-dark border-dark">
                    <th class="col-2">Fecha</th>
                    <th class="col-1">Venta/Gasto</th>
                    <th class="col-5">Lista</th>
                    <th class="col-2">Total</th>
                    <th *ngIf="tipoX" class="col-2">Botones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registro of registros" [ngClass]="{'table-success': registro.tipo=='Venta'}" [ngClass]="{'table-danger': registro.tipo=='Gasto'}" class="border-dark">
                    <td class="cuerpoTabla">{{registro.fecha}}</td>
                    <td *ngIf="registro.tipo=='Venta'" class="cuerpoTabla">Venta</td>
                    <td *ngIf="registro.tipo=='Gasto'" class="cuerpoTabla">Gasto</td>
                    <td class="cuerpoTabla">
                        <ul>
                            <li *ngFor="let producto of registro.lista">{{producto.cantidad}} x {{producto.nombre}} ${{producto.precio}} c/{{producto.unidad}}</li>
                        </ul>
                    </td>
                    <td class="cuerpoTabla">${{calcularTotal(registro.lista,registro.tipo)}}</td>
                    <td *ngIf="tipoX" class="cuerpoTabla">
                        <button class="btn btn-dark bg-gradient border-dark me-1 p-1" type="button" (click)="abrirModalEditarGasto(registro)">📝</button>
                        <button class="btn btn-dark bg-gradient border-dark  p-1" type="button" (click)="eliminarRegistro(registro)">❌</button>
                    </td>
                </tr>
            </tbody>
        </table>

            

    </div>
    <div class="border-dark" style="width:30rem ;height:3rem;display:flex;float:right;margin-right: 25rem;font-size: x-large;">
        <div style="font-weight: bolder;background-color: black;color: white;width:22rem ;border:black solid 1px"><div style="width:10rem;margin:auto;text-align: center;padding-top:2%;">Total</div></div>
        <div style="width:10rem ;border:black solid 1px;text-align: center;padding-top:2%;">${{total}}</div>
    </div>  
