<!-- Button trigger modal -->
<!-- data-bs-toggle="modal" data-bs-target="#editarCategoria" -->
  
  <!-- Modal -->
  <div class="modal fade" id="editarCategoria" tabindex="-1" aria-labelledby="editarCategoriaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-primary text-white">

        <div class="modal-header">
          <h5 class="modal-title" id="editarCategoriaLabel"><b>Editar categoría</b></h5>
        </div>

        <div class="modal-body">
            <!-- Input categoria -->
            <input id="categoriaE" type="text" class="form-control">
            <label for="categoriaE" class="form-label">Categoría</label>    
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary bg-gradient border border-dark" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-secondary bg-gradient border border-dark">Editar</button>
        </div>

      </div>
    </div>
</div>