<!-- Button trigger modal -->
<!-- data-bs-toggle="modal" data-bs-target="#crearProducto" -->

<!-- Modal -->
<div class="modal fade" id="crearProducto" tabindex="-1" aria-labelledby="crearProductoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-primary text-white">

      <div class="modal-header">
        <h5 class="modal-title" id="crearProductoLabel"><b>Crear producto 🛍</b></h5>
      </div>

      <div class="modal-body">
        <!-- Nombre producto -->
        <input id="nombreP" type="text" class="form-control">
        <label for="nombreP" class="form-label">Nombre</label>

        <!-- Seleccionar unidad -->
        <select id="unidadP" class="form-select" aria-label="Default select example">
          <option selected>Selecciona una unidad</option>
          <option value="1">Unidades</option>
          <option value="2">Kilogramos</option>
          <option value="3">Gramos</option>
        </select>
        <label for="unidadP" class="form-label">Tipo de unidad</label>

        <!-- Stock -->
        <input id="stock" type="number" class="form-control">
        <label for="stock" class="form-label">Stock</label>

        <!-- Cantidad a que se vende el producto -->
        <input id="cantVenta" type="number" class="form-control">
        <label for="cantVenta" class="form-label">Cantidad de producto por venta</label>

        <!-- Precio -->
        <input id="precio" type="number" class="form-control">
        <label for="precio" class="form-label">Precio</label>

        <!-- Imagen -->
        <input id="imagenP" class="form-control" type="file" accept=".jpg, .png, .jpeg">
        <label for="imagenP" class="form-label">Imagen</label>

        <!-- Seleccionar categoria -->
        <select id="proveedor" class="form-select" aria-label="Default select example">
          <option selected>Selecciona un provedor</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <label for="proveedor" class="form-label">Proveedor</label>

        <!-- Seleccionar categoria -->
        <select #select (change)="nuevaCategoria(select.value)" id="categoriaP" class="form-select" aria-label="Default select example">
          <option selected>Selecciona una categoria</option>
          <option *ngFor="let categoria of categorias">{{categoria}}</option>
        </select>
        <label for="CategoriaP" class="form-label">Categoria</label>

        <ul class="list-group">
          <li class="list-group-item" *ngFor="let cat of categoriasSelec; let i = index">{{cat}} <button (click)="quitarCategoria(i)" type="button" class="btn btn-dark bg-gradient border-dark rounded-circle p-1 float-end">❌</button></li>
        </ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary bg-gradient border border-dark" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-secondary bg-gradient border border-dark">Crear</button>
      </div>

    </div>
  </div>
</div>