<div id="cabeceraEditar" class="modal-header m-auto bg-primary border-primary text-white">
    <h1 class="modal-title m-auto"> Editar Gasto</h1>
</div>

<div class="modal-body bg-primary border-primary text-white">
    <div class="mb-5">
        <label for="proveedor" class="form-label">Fecha</label>
        <form class="row row-cols-sm-auto m-auto my-3">
            <div class="col-12">
                <div class="input-group">
                    <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="dp"
                        [(ngModel)]="model"
                        ngbDatepicker
                        #d="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3 bg-light" (click)="d.toggle()" button>📅</button>
                </div>
            </div>
        </form>
    </div>
            
        <div class="mb-3">
            <label for="proveedor" class="form-label">Proveedor</label>
            <select [(ngModel)]="proveedor" (ngModelChange)="seleccionarProveedor(proveedor)" class="form-select" aria-label="Default select example">
            <option value="">Selecciona un provedor</option>
            <option *ngFor="let proveedori of proveedoresDP" [ngValue]="proveedori">{{proveedori.nombre}}</option>
            </select>
        </div>

    <div class="mb-3">
        <label for="proveedor" class="form-label">Productos</label>
        <select [(ngModel)]="productoT"  class="form-select" (ngModelChange)="seleccionarProducto()" Default select example>
        <option value="">Selecciona un producto</option>
        <option *ngFor="let producto of productosProveedoresDP" [ngValue]="producto">{{producto.nombre}}</option>
        </select>
    </div>

    <div id="tablaGastoEditar" class="mb-3 bg-light">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Botones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let producto of tablaProductos.lista;let i =index">
                    <th scope="row">{{i}}</th>
                    <td>{{ producto.nombre }}</td>
                    <td><input type="number" value="{{producto.cantidad}}" [(ngModel)]="producto.cantidad"></td>
                    <td><input type="number" value="{{producto.precio}}" [(ngModel)]="producto.precio"  (ngModelChange)="cambioMonto()"></td>
                    <td><button type="button" class="btn btn-dark bg-gradient border border-dark p-1" (click)='eliminarProducto(producto)'>❌</button></td>
                </tr>
            </tbody>
         
        </table>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Monto total</label>
        <p>{{montoLocal}}</p>
    </div>
</div>

<div class="modal-footer bg-primary border-primary text-white">
    <button type="button" class="btn btn-secondary bg-gradient border border-dark" (click)="cerrarModal()">Cancelar</button>
    <button type="button" class="btn btn-dark bg-gradient border border-dark" (click)="editar()">Editar</button>
</div>