<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="filtroProveedores"
  aria-labelledby="filtroProveedoresLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title"><b>Filtros</b></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <!-- Filtros por categoria -->
    <h5><b>Categorias </b><button class="btn btn-dark bg-gradient border-dark p-1" type="button">Categoria➕</button></h5>
    <div class="form-check d-flex flex-column d-grid gap-2">
      <!-- Aqui se agregan las categorias -->
      <app-categoria></app-categoria>
      <app-categoria></app-categoria>
      <app-categoria></app-categoria>
    </div>
  </div>
</div>